.addbtn {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
.addbtn:hover {
    background-color: #45a049; 
  }
.title {
    color:azure;
    font-family: 'Nerko One', sans-serif;
    font-size: 1.5em;
}